<dom-module id="list-data">
	<template>
    <style>
      li{
        margin: 10px 0;
        transition: all 0.6s ease;
      }
      ul:hover li{
        opacity: 0.3;
      }
      ul:hover li:hover{
        cursor: pointer;
        opacity: 1;
      }
    </style>
    <ul>
      <dom-repeat items="[[data]]">
        <template>
          <li data-id$="[[item.id]]" data-user$="[[item.userId]]">
            <strong>[[item.title]]</strong> - <small>[[item.body]]</small>
          </li>
        </template>
      </dom-repeat>
    </ul>
	</template>
</dom-module>